body {
  padding: 0;
  margin: 0;
}

main {
  background-color: #c64500;
}

.summer {
  background-color: #c64500;
  position: fixed;
  z-index: 1000;
  margin: 32px;
  padding: 32px;
}

.summer img {
  width: 360px;
}
