body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: system-ui;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='64' height='64' viewport='0 0 100 100' style='fill:black;font-size:32px;'><text y='50%'>🌞</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}

main {
  background-color: #c64500;
}

footer {
  width: fit-content;
  position: absolute;
  bottom: 0;
  font-size: 18px;
  padding: 40px;
  background: #ffffff26;
  margin: 12px;
}

footer > div > p {
  margin: 2px;
}

.summer {
  position: fixed;
  z-index: 1000;
  margin: 32px;
  padding: 32px;
}

.summer img {
  width: 360px;
}

.audio {
  z-index: 100000000;
  position: absolute;
  border-radius: 64px;
  margin: -24px 0;
}

@media only screen and (max-width: 480px) {
  body {
    overflow: visible;
  }
  .summer {
    padding: 12px 8px;
  }

  .summer img {
    width: 100%;
  }

  .audio {
    right: 7%;
    bottom: 120%;
  }

  footer {
    width: fit-content;
    position: sticky;
    bottom: -50%;
    padding: 15px 12%;
    text-align: center;
    font-size: 14px;
  }
}
