body {
  padding: 0;
  margin: 0;
}

main {
  background-color: #c64500;
}

footer {
  width: fit-content;
  position: absolute;
  bottom: 0;
  padding: 8px 64px;
}

.summer {
  position: fixed;
  z-index: 1000;
  margin: 32px;
  padding: 32px;
}

.summer img {
  width: 360px;
}

@media only screen and (max-width: 480px) {
  .summer {
    padding: 12px 48px;
  }

  .summer img {
    width: 240px;
  }

  footer {
    width: fit-content;
    position: sticky;
    bottom: 0;
    padding: 15px 26%;
  }
}
