.main {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 24px;
}

.main img {
  width: 30vw;
  position: absolute;
  display: none;
  border-radius: 2px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translateX(-50%) translateY(-50%);
}

.mobilemain {
  display: none;
}

@media only screen and (max-width: 480px) {
  .main {
    display: none;
  }

  .mobilemain {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20vh;
    padding-top: 50vh;
  }

  .imagemobile {
    position: sticky;
    top: 50vh;
    width: 320px;
    height: 320px;
    object-fit: contain;
    transform: translate3d(0, -50%, 0);
    align-self: center;
    display: block;
  }

  .mobilemain img:nth-child(odd) {
    left: 54px;
    top: 52vh;
  }
}
